<div>

    <div class="row">
        <div class="col-md-4">
            <p>Hola {{miToken}}</p>

        </div>
    </div>

    <div class="row pt-3">
        <h2>Calificaciones</h2>
        <div class="col-md-12">
            <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                    class="bi bi-plus"></i> Nueva materia</button>

            <div class="table-responsive">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Materia</th>
                            <th scope="col">Calificacion</th>
                            <th scope="col">Modifica</th>
                            <th scope="col">Elimina</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let materia of materias"
                            [ngClass]="materia.calificacion <= 7 ? 'table-danger' : 'table-success' ">
                            <td>{{materia.materia}}</td>
                            <td>{{ materia.calificacion }}</td>
                            <td><button type="button" class="btn btn-warning "
                                    (click)="popActualiza(materia.id, materia.materia)"><i
                                        class="bi bi-pencil"></i></button></td>
                            <td><button type="button" class="btn btn-danger "
                                    (click)="eliminaMateria(materia.id, materia.alumno)"><i
                                        class="bi bi-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!--MODAL NUEVA MATERIA-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">NUEVA MATERA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formMateria" (ngSubmit)="registroMat()">
                    <div class="form-group pt-2">
                        <label for="alumno">Alumno:</label>
                        <input type="text" readonly class="form-control" required="" name="alumno"
                            formControlName="alumno"
                            [class.is-invalid]="formMateria.get('alumno')?.invalid && formMateria.get('alumno')?.touched "
                            [class.is-valid]="formMateria.get('alumno')?.valid && formMateria.get('alumno')?.touched">
                        <span class="text-danger" *ngIf="isSubmitMat && formMateria.get('alumno')?.invalid ">
                            Este campo es requerido y solo se aceptan letras mínimo de caracteres (3).
                        </span>
                    </div>
                    <div class="form-group pt-2">
                        <label for="materia">Materia:</label>
                        <input type="text" class="form-control" required="" name="materia" formControlName="materia"
                            [class.is-invalid]="formMateria.get('materia')?.invalid && formMateria.get('materia')?.touched "
                            [class.is-valid]="formMateria.get('materia')?.valid && formMateria.get('materia')?.touched">
                        <span class="text-danger" *ngIf="isSubmitMat && formMateria.get('materia')?.invalid ">
                            Este campo es requerido y solo se aceptan letras mínimo de caracteres (3).
                        </span>
                    </div>
                    <div class="form-group pt-2">
                        <label for="tel">Calificacion:</label>
                        <input type="number" class="form-control" maxlength="10" required name="calificacion"
                            formControlName="calificacion"
                            [class.is-invalid]="formMateria.get('calificacion')?.invalid && formMateria.get('calificacion')?.touched "
                            [class.is-valid]="formMateria.get('calificacion')?.valid && formMateria.get('calificacion')?.touched">
                        <br>
                        <span class="text-danger" *ngIf="isSubmitMat && formMateria.get('calificacion')?.invalid ">
                            Este campo es requerido.
                        </span>
                    </div>

                    <div class="pt-3">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>